@model WebApp.ViewModels.BrowseFilterModel

<div style="margin-top:5px;">
    @Html.Label("Цена от ")
    @Html.EditorFor(m => m.MinCost) $
    @Html.Label(" до ")
    @Html.EditorFor(m => m.MaxCost) $
</div>