@model WebApp.ViewModels.BrowseFilterModel

<div>
    @Html.Label("Площадь от ")
    @Html.EditorFor(m => m.MinPropertyArea)
    @Html.Label(" до ")
    @Html.EditorFor(m => m.MaxPropertyArea)
</div>
