@{
    ViewBag.Title = "Главная";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script defer src="https://api-maps.yandex.ru/2.0/?apikey=271bbac4-94da-43a8-b5a4-90fa6966b4d0&load=package.full&lang=ru-RU" type="text/javascript"></script>
<script defer src="~/Scripts/MyScripts/IndexMap.js"></script>
<script defer src="~/Scripts/MyScripts/IndexPageText.js"></script>
<div id="indexPageText" align="center">
    
</div>
<br />
<div id="yandexMap" style="width:600px; height: 600px;"></div>
