.publoutergrid {
    display: grid;
    grid-template-columns: 500px 200px;
    grid-column-gap: 20px;
}
.publinnergrid {
    display: grid;
    grid-template-rows: 400px 200px 200px;
}

.publimage {
    position: relative;
    margin:auto;
    vertical-align:middle;
    grid-row:1;
}

#image {
    margin: auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: block;
}

.userinfo {
    margin:auto;
    grid-row:1 / span 3;
}

.publproperties {
    margin:auto;
}

.publdesk {
    margin:auto;
}
#viewsAmount {
    color:dimgray;
    font-size:8pt;
}
#viewsAmount > img {
    position:absolute; 
    width:25px;
    height:25px;
}
#viewsAmount > span {
    position: absolute;
    left: 30px;
    top: 6px;
}

.arrowbutton {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
}
.left {
    transform: scale(-1,1) translate(0,-50%);
    left: -50px;
}
.right {
    right: -50px;
}